* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Linguineve', sans-serif;
    background-color: rgb(6, 72, 81); 
    max-height: 100vh;
    overflow: hidden;                                      
}
    .general-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }

h2 {
    padding: 0.1rem;
    text-align: center;
    color: rgb(209, 184, 127);
    font-size: 3rem;
}  
.grid-container-wrapper {
     display: grid;
     grid-template-columns: auto auto auto auto;
     background-image: url(pngwing.com.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     padding: 1px;
     color: #fda521;
     gap: 4px;
    
}
.grid-items {
    padding: 30px;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    width: 100%;
}
#display-screen {
    grid-column: 1/5;
    text-align: end;
    background-color:rgb(6, 72, 81);
}

#zero {
    grid-column: 1/3;
}
.design1 {
    background-color: rgba(233, 227, 213, 0.6);
}
.design1:hover {
    background-color: rgba(50, 24, 75, .5);
}
.design2 {
    background-color: rgb(7, 39, 52);
}
.design2:hover {
    background-color: rgb(209, 184, 127);
    color: rgb(7, 39, 52);
}
.design3 {
    background-color: rgba(10, 114, 115, 1);
    border: dotted;
}
.design3:hover {
    background-color: rgb(255, 255, 232);
    color:rgba(10, 114, 115, 1);
    border: 2px dotted rgb(255, 255, 232);
}

/* Blinking animation */
.blink {
    font-size: 2.5rem;
    color: #fda521;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  footer {
    padding: .75rem;
    background-color: rgb(227, 221, 205);
    margin-top: .5rem;
    text-align: center;
    font-size: 1.25rem;
  }
  footer i {
    color: white;
    background-color: rgb(227, 221, 205);
  }
  footer i:hover {
    background-color: rgba(10, 114, 115, 1);
  }
  

.color-change-effect {
    background-image: linear-gradient(to right, green,rgb(227, 221, 205),#fda521,rgba(50, 24, 75, .5), rgb(209, 184, 127)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 180s linear infinite;
  }
  
  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  }